 <!--https://github.com/simplicitylabs/si-table-->
<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8" />
        <title text="Incidentes"> Incidentes </title>
    </head>
<body>
<md-content ng-controller="IncidenteController" layout-gt-sm="row" layout-padding md-theme="">

  <form action="incidenteForm" >
    <!--<h5 class="md-toolbar-tools">Incidentes </h5>-->
      </hr>
        <md-content  layout-gt-sm="row" layout-padding>
	  <md-input-container>
		<label> Texto del cau </label>
		<textarea  ng-model="cauTexto" rows="5" style="margin: 1px 1px 10px;min-height:140px; max-width:850px;max-height: 140px; width: 850px; height: 100px;overflow-y:scroll" md-no-autogrow></textarea>
          </md-input-container>
        </md-content>

      <md-input-container layout-padding>
        	<md-button ng-click="cargar()" class="md-raised md-primary">Cargar</md-button>
      </md-input-container>

   <md-content  layout-gt-sm="row" layout-padding>
        <md-input-container>
            <label>Numero</label>
            <input type="number"  ng-model="numeroCaso">
        </md-input-container>
        <md-input-container>
          <label> Generado por </label>
          <input type="text" ng-model="generadoPor" />
      </md-input-container>

      <md-input-container>
      	<label> Estado </label>
      	<md-select ng-model="estado">
              <md-option ng-repeat="est in estadosIncidente" value="{{est.est}}">
                {{est.est}}
              </md-option>
      	</md-select>
    </md-input-container>

    <md-input-container>
      	<label> Prioridad </label>
      	<md-select ng-model="prioridad">
              <md-option ng-repeat="est in estadosPrioridad" value="{{est.est}}">
                {{est.est}}
              </md-option>
      	</md-select>
    </md-input-container>



   </md-content>
   <md-content  layout-gt-sm="row" layout-padding>
      <md-input-container>
        <label> Fecha registro </label>
        <!--<input type="text" ng-model="fecha" />
        <md-datepicker ng-model="fecha"></md-datepicker>-->
	<md-datepicker ng-model="fecha" md-open-on-focus></md-datepicker>
      </md-input-container>
   </md-content>

<md-content  layout-gt-sm="row" layout-padding>
    <md-input-container class="md-block">
        <label> Descripcion </label>
       <textarea ng-model="descripcion" rows="5"  style="margin: 1px 1px 10px;min-height:140px;max-width:850px;max-height: 100px; width: 850px; height: 100px;overflow-y:scroll" ></textarea>
    </md-input-container>
</md-content>

<md-content  layout-gt-sm="row">
  <md-input-container  layout-gt-sm="row" layout-padding>
    <md-button ng-click="guardar()" class="md-raised md-primary">Guardar</md-button>
    <md-button ng-click="limpiarDatos()" class="md-raised md-warn">Limpiar</md-button>
  </md-input-containter>
</md-content>

<md-content layout-gt-sm="row">
<md-input-container>
<input disabled placeholder="  " style="margin: 1px 1px 10px;max-width:1000px; width: 1000px;" >
</md-input-containter>
</md-content>
<md-button class="md-primary" ng-click="cargarIncidentes()">Cargar Incidentes</md-button>
<div ng-if="incidentes.length>0">
          <md-input-container>
            <label>Filtro</label>
            <input type="text" ng-model="filter.$" >
          </md-input-containter>

            <table class="table" si-table>
                <thead>
                    <tr>
						            <th sort-by="numero"> # </th>
                        <th sort-by="generadoPor"> Generado Por </th>
                        <th sort-by="fecha"> Fecha </th>
                        <th sort-by="estado"> Estado </th>
                        <th sort-by="prioridad"> Prioridad </th>
                        <th sort-by="detalle"> Detalle </th>
                        <th>  </th>
                        <th>  </th>
                    </tr>
                </thead>
                <tbody>
                    <tr si-sortable ng-repeat="item in incidentes | filter:filter">
						            <td> {{item.numero}}</td>
                        <td> {{item.generadoPor}} </td>
                        <td> {{item.fecha_registro}} </td>
                        <td> {{item.estado}} </td>
                        <td> {{item.prioridad}} </td>
                        <td> {{item.descripcion}} </td>
                        <td><md-button ng-click="recuperar($index)" class="md-raised md-primary">Editar</md-button></td>
                        <td><md-button ng-click="eliminar($index)" class="md-raised md-warn">Eliminar</md-button></td>
                    </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <si-table-pagination limit="10" class="ng-isolate-scope">
                      </si-table-pagination>
                    </td>
                  </tr>
                </tfoot>
             </table>
      </div>
      <div class="alert alert-info" ng-if="incidentes.length == 0">
        Sin incidentes ...
      </div>
  </form>
</md-content>
    </body>
</html>
